body{
    text-align: justify;
    text-justify: inter-word;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    text-align: center;
}
.img_somos{
    max-width: 50% ;
}

.carousel-inner img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
  }

.content_footer{
    background-color: aliceblue ;
    padding-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}