{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="../script/script.js"></script>
    <title>Sobre nosotros</title>
  </head>

<body>
    <!-- Modales -->
<div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Título del modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenido del modal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Perro sorpresa</h5>
          
        </div>
        <div class="modal-body">
          <img class="img-fluid perro_sorpresa" src="../img/perro.jpg" alt="#">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>



<!-- Titulo-->
<div  class="container-fluid">
  <img class="icon" src="{% static 'media/Diseño sin título.png' %}" alt="#">
  <span class="titulo">Todo para tu mascota</span>
        
</div>  
<!--Nvbar-->
    <ul>
      <li><a href="index">Pagina principal</a></li>
  
      <li><a id="donar" href="#">Donativos</a></li>
      <li><a id="oferta" href="#">Super Ofertas</a></li>
      <li style="float:right"><a href="registro">Registro</a></li>
      <li style="float:right"><a href="login">Ingreso</a></li>
    </ul>
</div>

       
<div class="container-fluid">
  <h1 class="center-texto padding-top">¿Quienes somos?</h1>  
  <p class="center-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. A sed 
  ipsa sint voluptas, odio numquam architecto nesciunt magni unde odit aliquam
      fuga magnam voluptatem sapiente blanditiis animi placeat rerum quidem.</p>
  <img class="center-image" src="{% static 'media/equipo.jpg' %}" alt="">
</div>

<!-- FOOTER -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#">Envios</a></li>
                        <li><a href="#">Contactar</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre nosotros</h3>
                    <ul>
                        
                      <li><a href="about_us">Equipo</a></li>                        
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Dogline</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                
            </div>
            <p class="copyright">Dogline © 2023</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
    
    
</html>
  